# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.RevinaUnityHomeWork.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\RollABall\GBGameRollABall\RevinaUnityHomeWork\.idea\.idea.RevinaUnityHomeWork\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
